<mat-card class="login-form">
  <mat-card-header class="row">
    <!-- <mat-icon class="col-sm-12 ">account_circle</mat-icon> -->
    <!-- <h1 class="col-sm-12">Login</h1> -->
    <div mat-card-avatar style="margin-right: 11vh">
      <mat-icon class="col-sm-12">account_circle</mat-icon>
    </div>
    <mat-card-title class="mat-title__h1">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" autocomplete="off" class="row">
      <mat-form-field class="col-sm-12">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="userName" type="text" />
      </mat-form-field>
      <mat-form-field class="col-sm-12">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          (keyup.enter)="onLoginClick()"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      class="background-color-green"
      (click)="onLoginClick()"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>
