.app-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-navbar {
  position: fixed;
  z-index: 2;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.app-sidenav-container {
  /* flex: 1 0 auto;
    height: 100%;
    margin-top: 56px;
    position: inherit; */
  /* z-index: 2; */
  flex: 1 0 auto;
  margin-top: 56px;
}

/* .mat-drawer-content {
  display: flex;
  align-items: center;
  justify-content: center;
} */
