mat-card-header {
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions button {
  margin: 0 10px;
}

.search_result_icon {
  height: 50px;
}
